In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
from pandas.plotting import table
from PIL import Image, ImageDraw, ImageFont
import pandas as pd
from PIL import Image, ImageDraw, ImageFont
import pandas as pd
import os

In [2]:
os.makedirs('tb_images', exist_ok=True)


def get_text_size(font, text):
    # Restituisce (larghezza, altezza) del testo
    bbox = font.getbbox(text)
    width = bbox[2] - bbox[0]
    height = bbox[3] - bbox[1]
    return width, height

def save_table_as_image(df, filename="clean_table.jpeg", font_path=None, font_size=14, cell_padding=10):
    # Usa un font standard se non specificato
    if font_path is None:
        font_path = "/usr/share/fonts/truetype/dejavu/DejaVuSans.ttf"  # Cambia su Windows/Mac

    font = ImageFont.truetype(font_path, font_size)

    # Calcola larghezza delle colonne
    col_widths = []
    for col in df.columns:
        max_len = max([get_text_size(font, str(col))[0]] +
                      [get_text_size(font, str(val))[0] for val in df[col]])
        col_widths.append(max_len + 2 * cell_padding)

    # Altezza di una riga
    row_height = get_text_size(font, "Ag")[1] + 2 * cell_padding
    table_width = sum(col_widths)
    table_height = row_height * (len(df) + 1)  # +1 per intestazione

    # Crea immagine
    image = Image.new("RGB", (table_width, table_height), "white")
    draw = ImageDraw.Draw(image)

    # Intestazioni
    x = 0
    for i, col in enumerate(df.columns):
        draw.rectangle([x, 0, x + col_widths[i], row_height], fill="#f0f0f0", outline="black")
        draw.text((x + cell_padding, cell_padding), str(col), fill="black", font=font)
        x += col_widths[i]

    # Righe
    for row_idx, row in df.iterrows():
        y = row_height * (row_idx + 1)
        x = 0
        for i, col in enumerate(df.columns):
            draw.rectangle([x, y, x + col_widths[i], y + row_height], outline="black", fill="white")
            draw.text((x + cell_padding, y + cell_padding), str(row[col]), fill="black", font=font)
            x += col_widths[i]

    # Salva immagine
    os.makedirs(os.path.dirname(filename), exist_ok=True)
    image.save(filename)
    print(f"Tabella salvata senza margini come '{filename}'")

In [3]:
data_xgboost = {
    "ID": [1, 2, 3, 4, 5],
    "PartName": ["part_t_t_1", "part_t_t_2", "part_t_t_3", "part_t_t_4", "part_t_t_5"],
    "Model": ["XGBOOST"] * 5,
    "output": ["Unico"] * 5,
    "mse": [692323628890257, 714998902611687, 699997664685665, 677543468425015, 692493732262679],
    "rmse": [26312043.42, 26739463.39, 26457468.98, 26029665.16, 26315275.64],
    "mae": [19965435.32, 20346244.88, 20479277.57, 19814449.38, 19828904.02],
    "r2": [0.5790175373, 0.5164242193, 0.5627683989, 0.5148634702, 0.5608140724],
    "mape (%)": [220.909481, 349.59421, 426.0908045, 241.9859458, 232.0448681],
    "smape (%)": [94.52352965, 99.85742202, 99.26087868, 99.67222233, 99.58477001],
    "epochs": [369, 393, 373, 283, 250],
    "training_time": [2.370300055, 4.553244352, 3.136586189, 4.15960741, 2.597345829]
}

df = pd.DataFrame(data_xgboost)
df.drop(columns=["output"], inplace=True)
df.drop(columns=["Model"], inplace=True)

display(df)
path = os.path.join('tb_images', 'xgboost_results.png')
save_table_as_image(df, path)

,ID,PartName,mse,rmse,mae,r2,mape (%),smape (%),epochs,training_time
0,1,part_t_t_1,692323628890257,26312043.42,19965435.32,0.579018,220.909481,94.523530,369,2.370300
1,2,part_t_t_2,714998902611687,26739463.39,20346244.88,0.516424,349.594210,99.857422,393,4.553244
2,3,part_t_t_3,699997664685665,26457468.98,20479277.57,0.562768,426.090804,99.260879,373,3.136586
3,4,part_t_t_4,677543468425015,26029665.16,19814449.38,0.514863,241.985946,99.672222,283,4.159607
4,5,part_t_t_5,692493732262679,26315275.64,19828904.02,0.560814,232.044868,99.584770,250,2.597346

Tabella salvata senza margini come 'tb_images/xgboost_results.png'

In [4]:
data_lstm = {
    "ID": [1, 2, 3, 4, 5],
    "PartName": ["part_t_t_1", "part_t_t_2", "part_t_t_3", "part_t_t_4", "part_t_t_5"],
    "Model": ["LSTM"] * 5,
    "output": ["Unico"] * 5,
    "mse": [693803235224561, 710563466152038, 669693165173301, 664074446813406, 660185672210606],
    "rmse": [26340144.94, 26656396.35, 25878430.5, 25769641.96, 25694078.54],
    "mae": [19986849.69, 20314694.1, 20012155.96, 19534154.99, 19421942.8],
    "r2": [0.5781178304, 0.5194240416, 0.5816971547, 0.524507596, 0.5813041428],
    "mape (%)": [211.7158937, 344.6083832, 397.2943272, 245.0574031, 276.3978051],
    "smape (%)": [95.1500575, 99.25912373, 96.81480685, 97.55523966, 93.57852224],
    "epochs": [50, 69, 89, 100, 114],
    "training_time": [1096.213116, 1383.864711, 1723.674259, 1950.136313, 2197.930653]
}

df = pd.DataFrame(data_lstm)
df.drop(columns=["output"], inplace=True)
df.drop(columns=["Model"], inplace=True)

display(df)
path = os.path.join('tb_images', 'lstm_results.png')   
save_table_as_image(df, path)

,ID,PartName,mse,rmse,mae,r2,mape (%),smape (%),epochs,training_time
0,1,part_t_t_1,693803235224561,26340144.94,19986849.69,0.578118,211.715894,95.150058,50,1096.213116
1,2,part_t_t_2,710563466152038,26656396.35,20314694.10,0.519424,344.608383,99.259124,69,1383.864711
2,3,part_t_t_3,669693165173301,25878430.50,20012155.96,0.581697,397.294327,96.814807,89,1723.674259
3,4,part_t_t_4,664074446813406,25769641.96,19534154.99,0.524508,245.057403,97.555240,100,1950.136313
4,5,part_t_t_5,660185672210606,25694078.54,19421942.80,0.581304,276.397805,93.578522,114,2197.930653

Tabella salvata senza margini come 'tb_images/lstm_results.png'

In [5]:
data_cnn = {
    "ID": [1, 2, 3, 4, 5],
    "PartName": ["part_t_t_1", "part_t_t_2", "part_t_t_3", "part_t_t_4", "part_t_t_5"],
    "Model": ["CNN"] * 5,
    "output": ["Unico"] * 5,
    "mse": [692593414039291, 710797632192475, 681004678591179, 664767379603421, 680974379802894],
    "rmse": [26317169.57, 26660788.29, 26096066.34, 25783083.21, 26095485.81],
    "mae": [19911063.66, 20268951.82, 20092585.00, 19832136.32, 19688064.5],
    "r2": [0.5788534885, 0.5192656679, 0.5746317723, 0.5240114403, 0.5681197523],
    "mape (%)": [230.2599016, 357.4621085, 370.708994, 260.4846413, 267.1993116],
    "smape (%)": [92.48610835, 98.06245874, 95.7578742, 97.62337684, 93.98689336],
    "epochs": [210, 180, 148, 343, 217],
    "training_time": [344.1138542, 167.2202528, 102.6359429, 185.8602617, 102.408535],
}

df = pd.DataFrame(data_cnn)
df.drop(columns=["output"], inplace=True)
df.drop(columns=["Model"], inplace=True)

display(df)
path = os.path.join('tb_images', 'cnn_results.png')   
save_table_as_image(df, path)

,ID,PartName,mse,rmse,mae,r2,mape (%),smape (%),epochs,training_time
0,1,part_t_t_1,692593414039291,26317169.57,19911063.66,0.578853,230.259902,92.486108,210,344.113854
1,2,part_t_t_2,710797632192475,26660788.29,20268951.82,0.519266,357.462108,98.062459,180,167.220253
2,3,part_t_t_3,681004678591179,26096066.34,20092585.00,0.574632,370.708994,95.757874,148,102.635943
3,4,part_t_t_4,664767379603421,25783083.21,19832136.32,0.524011,260.484641,97.623377,343,185.860262
4,5,part_t_t_5,680974379802894,26095485.81,19688064.50,0.568120,267.199312,93.986893,217,102.408535

Tabella salvata senza margini come 'tb_images/cnn_results.png'